CacheControl==0.14.4
PyPika==0.51.1
PyYAML==6.0.3
Pygments==2.20.0
charset-normalizer==3.5.0
chromadb==1.5.9
googleapis-common-protos==1.75.1
huggingface_hub==1.27.0
importlib_resources==7.1.0
langchain-text-splitters==1.1.2
mdurl==0.1.2
pip-chill==1.0.5
pip_audit==2.10.1
pyasn1_modules==0.4.2
pydantic_core==2.46.4
streamlit==1.62.0
tomli_w==1.2.0
uuid_utils==0.17.0
